body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.border {
  border: 2px solid #fafafa;
  border-radius: 1rem;
  padding: 1rem;
  transition: .2s ease-in-out;
}

.border:hover {
  border: 2px solid #f0f0f0;
  box-shadow: 0 2px 1px #fafafa;
}

.grid {
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.currencies_container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.currency {
  min-width: 300px;
}

  @media screen and (max-width: 768px) {
    .ant-card-bordered {
      min-width: 100%;
      width: 100% !important;
    }
  }


.to-top-button {
  animation: movebtn 3s ease-in-out infinite;
}

@keyframes movebtn {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(5px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-5px);
  }
  100%{
    transform: translateY(0px);
  }
}


.header-logo {
  height: 2rem;
  margin: 1rem;
  color: #FAFAFA;
  font-weight: bold;
  font-size: 1.5rem;
  user-select: none;
  text-align: center;
  transition: .2s ease-in-out;
}

.header-logo:hover {
  background-color: #001f3b;
  border-radius: 20%;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.social-media-item {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: #001f3b 2px solid;
}
